.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 80px;
}

.search-div {
  display: flex;
  justify-content: center;

  padding-top: 30px;
}

.search {
  background-color: white;
  border-radius: 10px;
  height: 30px;
  width: 400px;
  margin-top: 15px;
  text-align: center;
  font-size: large;

  padding-left: 30px;
}

.drop-down {
  padding-left: 30px;
}
