.newsContainer{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));}
  
  @media (min-width: 800px) {
    .newsContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1350px) {
    .newsContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }

.newsLink{
  color:black;
  cursor: pointer;
  text-decoration: none;
}

.newsLink:hover{
  color: #f00946;
}
  