p {
    background-color:#fff
}

.companyCard{
    background-color:#fff
    
}


.detailsButton{
    margin-top: 10px;
    background-color:#fff
}

.companyLogo{
    margin:20px;
    width:150px;
    height:150px
}