.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}


.company-body {
   text-align: center;
}



@media screen and (max-width: 768px) {
  .company-body.active {
    padding-bottom: 65px;
    margin-top: 200px;
    transition: all 1s ease;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1350px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.inputField{
    margin: 30px;
    width: 600px;
    background: #fff;
    border-radius: 10px;
    height:30px
}

